<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JuiceShop Suite">
    <test name="Complete Tests">
        <classes>
            <class name="gradle.TestNG.selenium.JuiceTest"/>
            <class name="gradle.TestNG.selenium.Httptrequests"/>
<!--            <class name="gradle.TestNG.selenium.UIAutomation"/>-->

            <class name="gradle.TestNG.selenium.APITests"/>
        </classes>
    </test>
</suite>
